
.color2{
    font-size: x-large;
    font-weight: 700;
    position: relative;
    margin-left:280px;
    bottom: 45px;
    color: white;
    
    
  }
  .color1{
    font-size: x-large;
    font-weight: 700;
    position: relative;
    
    
    margin-left: 190px;
    bottom: 45px;
    color: white; 
  }
  .color3{
    font-size: x-large;
    font-weight: 700;
    position: relative;
    color: white;
    
    margin-left: 390px;
    bottom: 45px;
  
    
    
  }
  
  .color4{
    font-size: x-large;
    font-weight: 700;
    position: relative;
    color: white;
    
    
    margin-left: 390px;
    bottom: 45px;
  
  }
  input{
    width:400px;
    height:20px;
    border-radius: 20px;
    padding: 17px;
    margin-left: 650px;
    
   
  }
  .log{
    width:80px;
    height: 90px;
    
  
  }
  
  /*.parent{
    display: flex;
    flex-direction: column-reverse;
    width: 1900px;
    height: 900px;
    border: 2px solid grey;
    
      
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
   Clear floats after image containers 
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .color{
    
    position: relative;
    top: 10px;
    left:200px;
    font-size: xx-large;
    font-weight: 900;
    color: #000;
    font-style: bold;
  
    
  }
  .color1{
    font-size: x-large;
    font-weight: 700;
    position: relative;
    
    
    margin-left: 190px;
    bottom: 40px;
    color: white;
  
  
    
    
  }
  mat-nav-list{
    background-color:white;
    color: #000;
    height:100%;
    cursor: pointer;
  }
  
  mat-toolbar{
    background-color: white
  }
  .box1{
   
    margin-top: 0px;
    background-color:white;
    width: 250px;
    height: 820px;
    position: relative;
    margin-left:  85%;
   
    
  }
  
  .color2{
    font-size: x-large;
    font-weight: 700;
    position: relative;
    margin-left:280px;
    bottom: 40px;
    color: white;
    
    
  }
  .search{
    width: 390px;
    height: 40px;
    position: relative;
    left: 20%;
  }
  .box1{
   
    
    background-color:white;
    width: 250px;
    height: 820px;
    position: relative;
    margin-left: 1px;
    margin-bottom: 190px;
   
    
  }
  .box3{
    
    position: relative;
    bottom: 1000px;
    left: 280px;
    
    
  }
  
  .log{
    width:250px;
    height: 90px;
    
  
  }
  .box6{
    background-color:#04AA6D;
    
  
    bottom: 19px;
    height:90px;
    
  }
  img{
    height: 30px;
    background-color: white;
    
  }
  
  input{
    width:400px;
    height:20px;
    border-radius: 20px;
    padding: 17px;
    margin-left: 650px;
    
   
  }
  .bo6{
    position: relative;
    margin-bottom: 500px;
  }
  
  
  .right {
    
      content: "";
      height: 300px;
      width: 430px;
      background-color: white;
      margin-left: 50px;
      
       
  }
  
  
  .box5{
    position: relative;
     bottom: 11300px; 
    left: 780px;
   
  
    
  
  }
  
  .color3{
    font-size: x-large;
    font-weight: 700;
    position: relative;
    color: white;
    
    margin-left: 440px;
    bottom: 40px;
  
    
    
  }
  .color4{
    font-size: x-large;
    font-weight: 700;
    position: relative;
    color: white;
    
    
    margin-left: 290px;
    bottom: 40px;
  
  }
  
    product info 
     
    h1 {
      color: rgb(10, 9, 9);
      margin-right: 140px ;
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 21px;
      
      display: flex;
       flex-direction: row;
  
    }
  
    h3 {
      color: #121111;
      font-family: "muli";
      margin-top: 10px;
      font-size: 15px;
      font-weight: 500;
    }
    h4 {    product information
      display: inline-block;
      color: #141414;
      font-family: "muli";
      margin-top: 10px;
      font-weight: bold;
      font-size: 20px;
    }
    .btn-buy{
      margin-left: 25%;
      margin-bottom: 1%;
      width: 100px;
      height:20px;
      font-size: small;
      font-weight: bold;
      border-radius: 20px;
      color: rgb(3, 90,82);
    }
    
    h5{
     
      font-size: x-large;
    font-weight: 700;
    
    margin-left: 5px;
    }
   
    .left {
      content: "";
      height: 80px;
      width: 200px;
      margin-left: 60px;
      
      position: absolute;
      
      
    }
    .left img {
  
      width: 160px;
      height: 120px;
    }
    .product-info {
      position: absolute;
      margin-left: 245px;
      height: 394px;
      width: 305px;
      z-index: 10;
    }*/
    /*******/
    .box6{
      background-color:#04AA6D;
      
    
      bottom: 19px;
      height:90px;
      
      
    }
    .box1{
 
        margin-top: 0px;
        background-color:white;
        width: 250px;
        height: 820px;
        margin-left: 1px;
       
        
      }
    mat-nav-list{
        background-color:white;
        color: #000;
        height:100%;
        cursor: pointer;
      }
      
      mat-toolbar{
        background-color: #04AA6D
      }
    
    .cont8{
      height: 5300px;
      width: 2100px;
      font-family: 'Times New Roman', Times, serif;
    
      background-color: gray;
      
    }
    /***table*/
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: max-content;
      }
      
      #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
        width: 420px;
       
        
    
      }
      
    
      
      #customers th {
        padding-top: 25px;
        
        text-align: 10%;
        background-color: #04AA6D;
        font-weight: bold;
        font-size: x-large;
        color: white;
        width: max-content;
        height:max-content;
      }
      .bin{
        height: 30px;
        width: 40px;
      }
      
      
    /* Utility stylings */
  img {
    width: 60%;
    display: block;
  }
  /*.container{
    width: 58vw;
    margin: 0 auto;
  }*/
  .lg-title,
  .md-title,
  .sm-title{
    font-family: 'Roboto', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
  }
  .lg-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
  }
  .md-title{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
  }
  .sm-title{
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .text-light{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
  }
  
  /* product section */
  .products{
    background: var(--alice-blue);
    padding: 3.2rem 0;
  }
  .products .text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
  }
  .product{
    margin: 2rem;
    position: relative;
  }
  .product-content{
    background: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
  }
  .product-img{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
  }
  .product-btns{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ease;
  }
  .btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
  }
  .btn-cart{
    background: black;
    color: white;
  }
  .btn-cart:hover{
    background: var(--carribean-green);
  }
  .btn-buy{
    background: white;
  }
  .btn-buy:hover{
    background: var(--carribean-green);
    color: #fff;
  }
  .product-info{
    background: white;
    padding: 2rem;
  }
  .product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .rating span{
    color: var(--carribean-green);
  }
  .product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  .product-price{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
  }
  .product-price:first-of-type{
    text-decoration: line-through;
    color: var(--carribean-green);
  }
  .product-img img{
    transition: transform 0.6s ease;
  }
  .product:hover .product-img img{
    transform: scale(1.1);
  }
  .product:hover .product-img{
    background: var(--carribean-green);
  }
  .product:hover .product-btns{
    opacity: 1;
  }
  .off-info .sm-title{
    background: var(--carribean-green);
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
  }
  
  /* product collection */
  .product-collection{
    padding: 3.2rem 0;
  }
  .product-collection-wrapper{
    padding: 3.2rem 0;
  }
  
  .flex{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    padding: 2rem 1.5rem 3.2rem;
    margin: 5px;
  }
  .product-col-r-bottom > div:first-child{
    background: #eaa001;
  }
  .product-col-r-bottom > div:last-child{
    background: #0090ff;
  }
  .product-col-content{
    text-align: center;
    color: white;
  }
  .product-collection .text-light{
    opacity: 1;
    font-size: 0.8;
    font-weight: 400;
    line-height: 1.7;
  }
  .btn-dark{
    background: black;
    color: white;
    outline: 0;
    border-radius: 25px;
    padding: 0.7rem 1rem;
    border: 0;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 1rem;
    font-family: inherit;
  }
  .btn-dark:hover{
    background: var(--carribean-green);
  }
  
  
  
  
  
  
  
  /* Media Queries */
  @media screen and (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-col-r-bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text-light{
        width: 50%;
    }
  }
  
  @media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
    .product-collection-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex{
        height: 60vh;
    }
    .product-col-left{
        height: 121.5vh;
    }
  }
    
    
    