
<form class="cont0">
    <div class="box6">
    


        <img src="/assets/rt.png" class="log">
    
        <span routerLink="/home" class="color1">HOME</span>
        <span routerLink="/order" class="color2">PRODUCT</span>
        <span routerLink="/about"  class="color3">ABOUT US</span>
        <span routerLink="/profile"  class="color4">PROFILE</span>
       
        </div>
    <h2>ABOUT US</h2>
  
    <span>
        
      
    <img src="/assets/abt.jpg">
    <p><h3> Our vision at RO-ONE is to help business transfrom into 
        metrics driven ,Objective focused organizations.
    </h3>
    <P><h1>As a part of our supply chain,
        inventory management includes aspects
         such as controlling
and overseeing purchases <br> from 
suppliers as well as customers 
maintaining the storage of stock,
controlling the amount of <br>
product for sale,and order fulfillment</h1>
    
    
    
      
  
    </span>
    <!--<button  routerLink="/submitted"  type = "button"  class = "btn-buy" > <i class="fa fa-shopping-cart" ></i>NEXT </button>-->
</form>
  
      
  
        
      
      
    