<div class="container7">
  <div class="box6">
    <img src="/assets/rt.png" class="log">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <span routerLink="/home" class="color1">HOME</span>
    <span routerLink="/order" class="color2">PRODUCT</span>
    <span routerLink="/about"  class="color3">ABOUT US</span>
    <span class="color4"> <!--<img
    src="https://th.bing.com/th/id/R.8e2c571ff125b3531705198a15d3103c?rik=gzhbzBpXBa%2bxMA&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fuser-png-icon-big-image-png-2240.png&ehk=VeWsrun%2fvDy5QDv2Z6Xm8XnIMXyeaz2fhR3AgxlvxAc%3d&risl=&pid=ImgRaw&r=0" >-->PROFILE</span>
    <BR>
    </div>
    <br>
    <br>
   


<!--<main class="container">

    <!-- Left Column / Headphones Image 
    <div class="left-column">
      <img data-image="black" src={{productimage}} class="log">
     
    </div>


    <!-- Right Column 
    <div class="right-column">

      <!-- Product Description 
      <div class="product-description">
        <p>{{productdescription}}</p>

        
       
      </div>

      <!-- Product Configuration 
      <div class="product-configuration">

        <!-- Product Color 
        <div class="product-color">
          <span>Color</span>

          <div class="color-choose">
            <div>
              <input data-image="red" type="radio" id="red" name="color" value="red" checked>
              <label for="red"><span></span></label>
            </div>
            
          </div>

        </div>

        <!-- Cable Configuration 
        <div class="cable-config">
          <span>Cable configuration</span>

          <div class="cable-choose">
            <button>Straight</button>
            <button>Coiled</button>
            <button>Long-coiled</button>
          </div>

          <a href="#">How to configurate your headphones</a>
        </div>
      </div>

      <!-- Product Pricing 
      <div class="product-price">
        <span>{{productprice}}</span>
        <button routerLink="/submitted" class="btn-buy">Next</button>
      </div>
    </div>
  </main>-->
  <main class="container" >
 
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <img data-image="black" src={{productimage}} class="log1">
      
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
      <p>{{producttitle}}</p>
   
      <!-- Product Description -->
      <div class="product-description">
        
        <p>{{productdescription}}</p>
      </div>
   
      <!-- Product Configuration -->
      <div class="product-configuration">
        
   
        <!-- Product Color -->
        
   
        <!-- Cable Configuration -->
        
          
        
   
      <!-- Product Pricing -->
      <div class="product-price">
        <span>{{productprice}}</span>
        <button routerLink="/submitted" >NEXT</button>
      </div>
    </div>
    </div>
  </main>
</div>